@model prjProductSys.ViewModels.VMProductComment

@{
    ViewData["Title"] = "CommentCreate";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>書籍評論</h1>


<div class="row">
    <div class="col-12 col-md-6">

        <div class="card">
            <img class="card-img-top" src="~/Images/@Model.product.Img"  style="width:320px;" />
            <div class="card-img-overlay">
                <p class="text-white p-2" style="position:relative;margin-top:50%;background-color:rgb(129 109 109 / 0.58)">
                    <strong>@Model.product.ProductId</strong><br />
                    <span>@Model.product.ProductName</span><br />
                    <span>單價：@Model.product.Price</span><br />
                </p>
            </div>
        </div>


        <form asp-action="CommentCreate" class="mt-5">
            <div class="form-group">
                <label class="control-label">評論</label>
                <textarea name="Comment" class="form-control" required></textarea>
                <input type="hidden" name="ProductId" value="@Model.product.ProductId" />
            </div>
            <div class="form-group">
                <input type="submit" value="新增評論" class="btn btn-info" />
            </div>
        </form>
    </div>

    <div class="col-12 col-md-6">
        <div style="overflow:auto;height:700px;">
            @foreach (var item in Model.comment)
            {
                <div class="card mb-2">
                    <div class="card-body">
                        <p>@item.Comment</p>
                        <p>@item.PublishDate</p>
                    </div>
                </div>

                @if (item.IsReComment == "是")
                {
                     <div class="card mt-1 mb-4" style="margin-left:100px;">
                        <div class="card-body">
                          <p>@item.ReComment</p>
                       </div>
                     </div>
                }
            }
        </div>
    </div>
</div>